<form class="login-form" action="/new-password" method="POST">
    <%- include('../partials/error-message.ejs') %>
    <div class="form-control">
        <label for="password">New Password</label>
        <input
            id="password"
            class="<%= validation && validation.password ? 'invalid' : ''%>"
            type="password"
            name="password"
        >
    </div>
    <div class="form-control">
        <label for="confirmPassword">Confirm Password</label>
        <input
            id="confirmPassword"
            class="<%= validation && validation.confirmPassword ? 'invalid' : ''%>"
            type="password"
            name="confirmPassword"
        >
    </div>
    <input type="hidden" name="userId" value="<%= userId %>">
    <input type="hidden" name="resetToken" value="<%= resetToken %>">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn" type="submit">Update Password</button>
</form>